<Error>
<Code>NoSuchKey</Code>
<Message>The specified key does not exist.</Message>
<Key>6n7p1000-s/stages/2169b638-c5b9-4bfe-9b1a-8064747a6266/versions/live//environment.yml</Key>
<RequestId>B58WETQDDACSKVK0</RequestId>
<HostId>VSnDIRFW0eP81CLio80vciIamPuE0qpK88jHtstaLbjJIuZX7WOFPEez2ih8udA9urA3iADCYkhM3QJTm1TvJlQqVuHPzbQ1</HostId>
</Error>
